.default-header {
    background-color: #132235;
    padding: 0 12px;
}

.navbar-default {
    box-sizing: inherit;
    background-color: #132235;
    display: flex;
    width: auto;
    min-height: 50px;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.navbar-button{
    color: white;
    text-decoration: none;
    /*font-weight: bold;*/
    border-radius: 4px;
    border: none;
    padding: 10px 16px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.navbar-button:hover {
    background-color: #354457;
    border: none;
    display: inline-block;
}